
<!-- <div *ngIf="searchResults else elseBlock">
<h3>Total Results: {{searchResults.total_count}}</h3>

<h3>Total Results: {{searchResults.total_count}}</h3>
<ul>
  <li *ngFor="let result of searchResults.items">
    <a [href]="result.html_url">
      <img [src]="result.owner.avatar_url" /> 
      <h4>{{result.name}} 
        <small> by {{result.owner.login}}</small> 
      </h4>
    </a> 
    <p> {{result.description}}</p> 
  </li>
</ul>
</div> -->
<!-- <form>
<h3>{{title}} - {{displayQuery}}</h3>
<input name="query" placeholder="Enter Search Here" [(ngModel)]="searchQuery" />
</form> -->

<!-- 
<form>
  <div *ngFor="let key of modelKeys">
      {{key}} <input name="{{key}}" placeholder="Enter {{key}} Here" />
  </div>
  <button (click)="sendQuery()">Submit</button>
</form> -->

<!-- <div *ngFor="let sigma of modelKeys">
  {{sigma}}
</div> -->
<!-- <button (click)="gitSearch()">Submit</button> -->
<!-- <button (click)="sendQuery()">Submit</button> -->

<!-- Bind a Reactive Form -->
  <!-- Necesitamos modificar esto para usar el nuevo FormGroup. Para hacerlo, adjunte un [formGroup]enlace a la <form>etiqueta con el valor del formulario en su componente. Luego, agregue un formControlNameatributo que haga referencia al nombre del FormControlque hicimos, en este caso, la clave de la modelKeysiteración. -->

<!-- <form>
  <div *ngFor="let key of modelKeys">
     {{key}}<input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]"/>
  </div>
  <button (click)="sendQuery()">Submit</button>
  </form> -->

  <form (ngSubmit)="sendQuery()" [formGroup]= "form">
    <div *ngFor="let key of modelKeys">
       {{key}}<input placeholder="Enter {{key}} Here" formControlName="{{key}}"/>
    </div>
    <button type="submit">Submit</button>
    </form>
  

<div *ngIf="searchResults else elseBlock">
  <h3 class="Total">Total Results: {{searchResults.total_count}}</h3>
  <ul class="list">
    <li [ngStyle]="{'background-color' : (i % 2 === 0) ? 'silver' : 'white'}" class="list_item" *ngFor="let result of searchResults.items; index as i">
      <a [href]="result.html_url">
        <img class="avatar" [src]="result.owner.avatar_url"  /> 
        <h4 class="title">{{result.name}} 
          <small> by {{result.owner.login | uppercase}}</small> 
        </h4>
      </a> 
      <p> {{result.description}}</p>
      <p>Created On: {{result.created_at | date:'fullDate'}}</p> 
    </li>
  </ul>
  </div>

<ng-template #elseBlock>Loading...</ng-template>
