.total {
    font-size:24px;
}
.list {
    list-style-type: none;
}
.list_item {
    border:1px solid black;
    height: 165px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.avatar {
    width:150px;
    height:150px;
    float:left;
}
.title {
    font-size:20px;
}
.description {
    font-size:18px;
}

/* ecesitamos agregar un bloque para mostrar si un campo es válido o no. */
/* Angular agrega estas clases automáticamente a medida que cambia el estado de los campos de formulario, por lo que son útiles para indicar si un campo de formulario es inválido o válido. */
.ng-valid  {
    border: 2px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border: 2px solid #a94442; /* red */
}